<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list ng-controller="TodoListCtrl">
          <ion-item ng-repeat="item in TodoListItems">
            {{item.task}}
          </ion-item>
        </ion-list>

        <form ng-submit="addItem(data)">
          <div class="list">
            <div class="list list-inset">
              <label class="item item-input" ="">
                <input type="text" placeholder="Todo Item" ng-model="data.newModel">
              </label>
              <button class="button button-block button-positive">
                Add Item
              </button>
            </div>
          </div>
        </form>
      </ion-content>
    </ion-pane>
  </body>
</html>
